In [ ]:
import pandas as pd
df = pd.read_csv('Sales.csv')
print(df.isnull().sum())
#drop rows with empty cells
clean = df.dropna()
print(clean)

Order ID         0
Customer Name    1
Order Date       0
Product          0
Quantity         1
Unit Price       1
Total Revenue    1
dtype: int64
   Order ID Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001      John Doe   01/01/2024  Widget A      10.0        25.0
1      1002    Jane Smith   01/02/2024  Widget B       5.0        40.0
4      1005     Bob Brown  2024/01/05'  Widget B      10.0        40.0
5      1006      John Doe   06/01/2024  Widget A       4.0        25.0
6      1001      John Doe   01/01/2024  Widget A      10.0        25.0
7      1007    Jane Smith   07/01/2024  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
4          400.0
5          100.0
6          250.0
7         -420.0

In [8]:
from dateutil import parser

df = pd.read_csv("Mine.csv")

def clean_date(date_str):
    try:
        if pd.isna(date_str):
            return pd.NaT
        date_str = str(date_str).strip("'") 
        return parser.parse(date_str, dayfirst=False, yearfirst=True)
    except Exception:
        return pd.NaT

df['Date'] = df['Date'].apply(clean_date)

print(df.head(100))

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0       NaN
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0       NaN     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16    NaN     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0       NaN
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0       NaN
22        60        NaT  130.0     108.0     230.8
23        60 2023-10-24  134.0       NaN     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
29        60        NaT   92.0     125.0     380.5
30        60 2023-10-31   94.0     126.0       NaN

In [10]:
#handling duplicate values
df = pd.read_csv('Sales.csv')
duplicates = df[df.duplicated()]
print(duplicates)
print("\n")
noduplicates = df.drop_duplicates(keep="first")
print(noduplicates)

   Order ID Customer Name  Order Date   Product  Quantity  Unit Price  \
6      1001      John Doe  01/01/2024  Widget A      10.0        25.0

   Total Revenue
6          250.0


   Order ID  Customer Name   Order Date   Product  Quantity  Unit Price  \
0      1001       John Doe   01/01/2024  Widget A      10.0        25.0
1      1002     Jane Smith   01/02/2024  Widget B       5.0        40.0
2      1003            NaN  2024/01/03'  Widget A       NaN        25.0
3      1004  Alice Johnson   04/01/2024  Widget C       3.0         NaN
4      1005      Bob Brown  2024/01/05'  Widget B      10.0        40.0
5      1006       John Doe   06/01/2024  Widget A       4.0        25.0
7      1007     Jane Smith   07/01/2024  Widget C      -6.0        70.0

   Total Revenue
0          250.0
1          200.0
2            NaN
3          210.0
4          400.0
5          100.0
7         -420.0

In [14]:
#handle wrong data
df = pd.read_csv("Mine.csv")
df = df[(df['Duration'] < 400) & (df['Pulse'] != 500)]
df = df.dropna()
print(df)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
14        60  2023/10/15'  120.0     100.0     240.8
16        60  2023/10/17'  127.0     102.0     380.2
17        45     20231018  142.0     103.0     241.4
19        60  2023/10/20'  162.0     105.0     300.9
20        60  2023/10/21'  100.0     106.0     280.0
24        60  2023/10/25'  132.0     110.0     236.9
25        60  2023/10/26'  135.0     118.0     278.8
26        60  2023/10/27'  137.0     119.0     212.9
27        60  2023/10/28'  138.0     121.0     345.9
28        60  2023/10/29'  139.0     122.0     345.2

In [15]:
#drop unnecesary columns
df = df.drop(columns=["Maxpulse"])
print(df)

    Duration         Date  Pulse  Calories
0         60  2023/10/01'  110.0     409.1
1         60  2023/10/02'  117.0     479.0
2         60  2023/10/03'  103.0     340.3
3         45  2023/10/04'  109.0     282.4
4         45  2023/10/05'  117.0     405.1
5         60  2023/10/06'  103.0     300.0
6         60  2023/10/07'  110.0     374.0
8         60  2023/10/09'  112.0     193.8
9         30  2023/10/10'  102.0     234.8
10        60  2023/10/11'  100.0     375.3
11        60  2023/10/12'  109.0     345.6
12        60  2023/10/13'  103.0     239.2
14        60  2023/10/15'  120.0     240.8
16        60  2023/10/17'  127.0     380.2
17        45     20231018  142.0     241.4
19        60  2023/10/20'  162.0     300.9
20        60  2023/10/21'  100.0     280.0
24        60  2023/10/25'  132.0     236.9
25        60  2023/10/26'  135.0     278.8
26        60  2023/10/27'  137.0     212.9
27        60  2023/10/28'  138.0     345.9
28        60  2023/10/29'  139.0     345.2